<li>
  <% if task.completed %>
    <s><%= task.title %></s>
  <% else %>
    <%= task.title %> - <%= link_to('Complete', complete_task_path(task), method: :patch, remote: true, data: { action: 'ajax:success->tasks#load' }) %>
  <% end %>
</li>
